In [ ]:
'''Series are a couple of elements kinda like the dictionary'''

In [2]:
import pandas as pd
import numpy as np

In [ ]:
#create a series that means create a sequence of numbers where each one is assigned by the index
obj = pd.Series([3,7,5,8])
print(obj) #first column is the index column, while the second is for the vaues

0    3
1    7
2    5
3    8
dtype: int64

In [5]:
#let's have just the column value as output and then just the index column
print(obj.values)
print(obj.index)

[3 7 5 8]
RangeIndex(start=0, stop=4, step=1)

In [9]:
#Actually i can change also the index column as i want, but for default the system just give you the sort numbers from 0 to n-1

obj2 = pd.Series([3,6,8,2], index=(['a','b','c','d']))
print(obj2)

a    3
b    6
c    8
d    2
dtype: int64

In [10]:
#to find the value based on the index:
obj2['c']

np.int64(8)

In [11]:
#Lets change the value of the index d
obj2['d'] = 17
obj2['d']

np.int64(17)

In [15]:
#lets try the slicing
obj2['b':'c']

b    6
c    8
dtype: int64

In [21]:
#if a use the '>' or '<' it will return the boolean array
obj2 <=6

a     True
b     True
c    False
d    False
dtype: bool

In [22]:
#if i put the condition inside the square brackets it will return the Series with the elements that satisfy the condition
obj2[obj2 <= 6]

a    3
b    6
dtype: int64

In [ ]:
#check if a index is in the Series
'l' in obj2 #or l in obj2 also in this case will research inside the indexs

False

In [ ]:
#check if it is in the values
3 in obj2.values
#obj2.isin([6]) another way that return a boolean array
#obj2 == 2 same of the last comment

True

In [42]:
#sum is used for sum the '1' in the boolean array
#all is used for seeing if the condition is satisfy by all elements
#any is usef for seeing if the condition is satisfy
print(obj2)
print((obj2 == 3).any())
print((obj2 == 3).all())
print((obj2 == 3).sum())

a     3
b     6
c     8
d    17
dtype: int64
True
False
1

In [45]:
#To do the addition between two series we can not do the simple plus
#because the system usually check the index and sum just the elements 
#with the same index while the other will turn into NaN
#to avoid this we need to use the function add

obj3 = pd.Series([3, 7, 10, 6 ], index=['a','b','c','d'])

obj4 = pd.Series([3, 7, 10, 6 ], index=['a','b','l','d'])
print(obj3.add(obj4, fill_value=0))

a     6.0
b    14.0
c    10.0
d    12.0
l    10.0
dtype: float64