In [6]:
import pandas as pd
import matplotlib as mpl
import numpy as np

fd = pd.read_csv("weather.csv", sep=";")

fd.head(5)

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No
1,1,Albury,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,No,Yes
2,1,Albury,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,Yes,Yes
3,1,Albury,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,Yes,Yes
4,1,Albury,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,Yes,No

In [7]:
#number rows and number columns


print(f'Number column {fd.shape[1]}')
print(f'Number rows {fd.shape[0]}')

Number column 17
Number rows 14468

In [9]:
fd.isnull().sum()
print(f'Sum of null values: {fd.isnull().sum().sum()}')

Sum of null values: 0