In [6]:
import pandas as pd
import matplotlib as mpl
import numpy as np

fd = pd.read_csv("weather.csv", sep=";")

fd.head(5)

,Month,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,1,Albury,20.4,37.6,0.0,54,0,7,46,17,1013.4,1009.2,3,26.1,36.7,No,No
1,1,Albury,20.9,33.6,0.4,50,9,17,54,30,1011.1,1008.4,8,24.8,31.7,No,Yes
2,1,Albury,18.4,23.1,2.2,48,11,39,62,67,1014.0,1014.8,8,21.8,19.5,Yes,Yes
3,1,Albury,17.3,23.7,15.6,39,9,17,74,65,1017.9,1016.5,8,19.2,21.6,Yes,Yes
4,1,Albury,15.5,22.9,6.8,31,6,9,92,63,1016.3,1013.9,8,17.2,22.2,Yes,No

In [7]:
#number rows and number columns


print(f'Number column {fd.shape[1]}')
print(f'Number rows {fd.shape[0]}')

Number column 17
Number rows 14468

In [ ]:
fd.isnull().sum()
print(f'Sum of null values: {fd.isnull().sum().sum()}')

Sum of null values: 0

In [ ]:
#add new columns

fd["temp_diff"] = abs(fd['Temp9am']-fd["Temp3pm"])
fd["hum_diff"] = abs(fd['Humidity9am']-fd["Humidity3pm"])

0        29
1        24
2         5
3         9
4        29
         ..
14463    36
14464    24
14465    11
14466     7
14467     2
Name: hum_diff, Length: 14468, dtype: int64

In [26]:
temphum = fd[(fd["temp_diff"] > 10) & (fd["hum_diff"] > 20)]
grouped = temphum.groupby("Location")
grouped

In [28]:
fd[(fd["temp_diff"] > 10) & (fd["hum_diff"] > 20)]["Location"].value_counts().idxmax()

'Richmond'

In [32]:
#number of locations
fd["Location"].nunique()

42

In [45]:
fd["RainToday"] = fd["RainToday"].map({'Yes': 1, 'No': 0})
rain_counts = fd.groupby("Location")["RainToday"].sum()
print(rain_counts)

Location
Adelaide            0.0
Albury              0.0
AliceSprings        0.0
BadgerysCreek       0.0
Ballarat            0.0
Bendigo             0.0
Brisbane            0.0
Cairns              0.0
Canberra            0.0
Cobar               0.0
CoffsHarbour        0.0
Dartmoor            0.0
Darwin              0.0
GoldCoast           0.0
Hobart              0.0
Melbourne           0.0
MelbourneAirport    0.0
Mildura             0.0
Moree               0.0
MountGambier        0.0
Nhil                0.0
NorahHead           0.0
NorfolkIsland       0.0
Nuriootpa           0.0
PearceRAAF          0.0
Perth               0.0
PerthAirport        0.0
Portland            0.0
Richmond            0.0
Sale                0.0
Sydney              0.0
SydneyAirport       0.0
Townsville          0.0
Tuggeranong         0.0
Uluru               0.0
WaggaWagga          0.0
Walpole             0.0
Watsonia            0.0
Williamtown         0.0
Witchcliffe         0.0
Wollongong          0.0
Woomera             0.0
Name: RainToday, dtype: float64

In [47]:
import plotly.express as px